
<h1>Home</h1>
<!--<div class="home-content text-center">-->
<!--  <div class="site-bg"></div>-->
<!--  <div class="container">-->
<!--      <h1 class="search-title">-->
<!--        Search For A Player-->
<!--      </h1>-->
<!--      <p>Enter a player name in the field to get started</p>-->
<!--    <div class="search-bar">-->
<!--      <input class="input-text search-input front-input" type="text" name="eingabe" placeholder="Get Started">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


